@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background:
        linear-gradient(217deg, rgba(2, 20, 82, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(69, 112, 119, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(12, 12, 145, 0.466), rgba(0, 0, 255, 0) 70.71%);
    background-attachment: fixed;
}


main{ /*Container de fora*/
    position: relative;
    height: 90vh;
    position: relative;
}

section#celular{  /*Container de dentro*/
    position: absolute; /*A partir do momento que se faz o posicionamento absoluto eu consigo posicionar em: */
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); /*-metade pra esquerda, e menos metade para cima*/
    height: 627px;
    width: 310px;
    background: url('../pacote-d013/pacote-d013/imagens/frame-iphone.png') no-repeat; /*.. para voltar uma pasta*/
}

#tela{
    position: relative;
    top: 80px;
    left: 22;
    right: -22px;
    width: 267px;
    height: 471px;
}

#redes-sociais{
    text-align: right;
    padding-right: 20px;
}

#redes-sociais img{
    width: 50px; /*Quando diminuo a largura pra 50 a altura também diminui pra 50*/
    margin: 10px;
    border-radius: 50%; /*50% significa que vai oculpar metade da imagem, se uma metade é redonda e a outra também é redonda, ele forma um círculo*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
    box-sizing: border-box; /*A borda faz parte da caixa, se não fizer isso os outros botões se mexem isso por que  borda não ta fazendo parte do objeto*/
}

#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: translate(-3px, -3px); /*mexer para cima e para esquerda*/
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.144); /*Para que a sombra afaste, já que o botão levantou*/
    transition: transform 0.5s, border 0.6s;
}

footer{
    background-color: black;
    padding: 20px;
    position: relative;
    color: white;
    text-align: center;

}